.hidden {
    display: none;
}

#status {
    font-size: 24px;
    margin: 20px;
}

#startScreen {
    margin: 50px;
}

#gameScreen {
    margin: 50px;
    font-size: 24px;
}

#timer {
    font-size: 32px;
}

#scoreboard {
    margin: 20px;
}

#resultsScreen {
    margin: 50px;
}
